@media screen and (min-width: 360px) and (max-height: 600px) {

    body {
        margin: 0px;
    }

    header {
        height: 10vh;
        background-color: black;
    }

    .navBar {
        display: flex;
        justify-content: space-between;

    }
    .navBar > img {
        width: 60px;
        padding: 5px;
    }   

    #caroussel > img {
        width: 100vw;
    }

    .dots {
        display: flex;
        justify-content: center;
        height: 8vh;
    }

    .dotElements {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(187, 184, 184);
        margin: 15px;
    }

}