header {
    border-color: black;
}

.tests {
    color: blue;
}

.logos_langages {
    width: 222px;
    height: 143px;
}

.photos_utilisateurs {
    height: 259px;
    width: 347px;
    border-radius: 17px;
}